:root {
    --bg-color:hsl(0, 4%, 69%);
    --btn-bg-color: rgb(63, 71, 71);
    --btn-hover-bg-color: rgb(105, 114, 114);
    --btn-border-radius: 8px;
    --clr-txt: rgb(90, 124, 153);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: #000;
}

.flex {
    display: flex;
    align-items: center;
}

.navbar {
    height: 56px;
    padding: 0 25px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #161313;
    position: sticky;
    top: 0;
    /* z-index: 1; */
    background-color: var(--bg-color);
}

.icon {
    height: 25px;
    width: 25px;
}

.btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn_margin {
    margin-right: 25px;
}

.nav_middle {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 16px;
    /* padding: 1px; */
}

.nav_middle .search_bar {
    border: none;
    padding: 8px;
    font-size: 16px;
    height: 30px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 15px;
    outline: none;
}

.nav_middle .search_button {
    border: 1px solid #ddd;
    border-radius: 0 15px 15px 0;
    outline: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.profile_btn {
    width: 35px;
    height: 35px;
    border: 1px solid greenyellow;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.sqr_btn {
    padding: 12px;
    font-size: 16px;
}